input {
    margin-bottom: 10px;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
.centered-card{
    width:50%;
    margin: auto;
}
.wide-btn{
    width:100%;
}
.margined-btn {
    margin-left: 2%;
    margin-bottom: 2%;
}
.margined-div{
    margin-top: 2%;
}
.admin-btn{
    width:40%;
}